In [1668]:
import pandas as pd
import numpy as np

#### Read Data from File

In [1671]:
#use pandas for read data set
df = pd.read_csv("Uncleaned_DS_jobs.csv")
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

### Overview Before Cleaning of Data

In [1674]:
#use shape for check dimension
df.shape

(672, 15)

In [1676]:
#use info for check short summary of data set like: Non-null, Count, Column type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [1678]:
#use isnull with sum to calculate how many null values are there in the data set 
df.isnull().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [1680]:
#use describe for statistical analysis of data set
df.describe()

            index      Rating      Founded
count  672.000000  672.000000   672.000000
mean   335.500000    3.518601  1635.529762
std    194.133974    1.410329   756.746640
min      0.000000   -1.000000    -1.000000
25%    167.750000    3.300000  1917.750000
50%    335.500000    3.800000  1995.000000
75%    503.250000    4.300000  2009.000000
max    671.000000    5.000000  2019.000000

In [1682]:
#use duplicated with sum to calculate how many duplicate values are exist in data set
df.duplicated().sum()

0

In [1684]:
#use value count to count the value in data set
df.value_counts()

index  Job Title                            Salary Estimate               Job Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      Rating  Company Name                       Location           Headquarters           Size                    Founded  Type of ownership       Industry                                Sector                  Revenue                     Competitors
0      Sr Data Scientist                    $137K-$171K (Glassdoor est.)  Description\n\nThe Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.\n\nDuties & Responsibilities:\n\n• Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains\n• Investigates, recommends, and initiates acquisition of new data resources from internal and external sources\n• Works with multiple teams to support data collection, integration, and retention requirements based on business needs\n• Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities\n• Collaborates with business subject matter experts to select relevant sources of information\n• Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation\n• Develops expertise with Healthfirst datasets, data repositories, and data movement processes\n• Assists on projects/requests and may lead specific tasks within the project scope\n• Prepares and manipulates data for use in development of statistical models\n• Other duties as assigned\n\nMinimum Qualifications:\n\n-Bachelor's Degree\n\nPreferred Qualifications:\n\n- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience\n\nMinimum Qualifications:\n\n-Bachelor's Degree\n\nPreferred Qualifications:\n\n- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience\n\nWE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.\n\nIf you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.\nEEO Law Poster and Supplement\n\n]]>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              3.1     Healthfirst                        New York, NY       New York, NY           1001 to 5000 employees  1993     Nonprofit Organization  Insurance Carriers                      Insurance               Unknown / Non-Applicable    EmblemHealth, UnitedHealth Group, Aetna    1

### Drop Column

In [1687]:
#use drop for remove the unwanted columns or rows from the data set
df.drop("index", axis=1, errors='ignore', inplace=True)
df.drop("Job Description", axis=1, errors='ignore', inplace=True)

In [1689]:
#use df to show data set according to past changes
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,$105K-$167K (Glassdoor est.),-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,$105K-$167K (Glassdoor est.),5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,$105K-$167K (Glassdoor est.),2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

### Set default Index from 0 to 1

In [1691]:
#use index to change the starting no. of the index
df.index = range(1, len(df) + 1)
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
1,Sr Data Scientist,$137K-$171K (Glassdoor est.),3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
2,Data Scientist,$137K-$171K (Glassdoor est.),4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
4,Data Scientist,$137K-$171K (Glassdoor est.),3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
5,Data Scientist,$137K-$171K (Glassdoor est.),2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,Data Scientist,$105K-$167K (Glassdoor est.),3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,$105K-$167K (Glassdoor est.),-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
671,Data Scientist,$105K-$167K (Glassdoor est.),5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
672,Data Scientist,$105K-$167K (Glassdoor est.),2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

### Remove Garbage Items from Company Name

In [1695]:
#use lambda function to create dynamic function for cleaning 
df["Company Name"] = df["Company Name"].apply(lambda x: x.split('\n')[0])
df[["Company Name"]]

             Company Name
1             Healthfirst
2                 ManTech
3          Analysis Group
4                 INFICON
5      Affinity Solutions
..                    ...
668              TRANZACT
669                  JKGT
670            AccessHope
671  ChaTeck Incorporated
672         1-800-Flowers

[672 rows x 1 columns]

### Remove text like 'Glassdoor est.', '$', 'K', '/yr'

In [1698]:
#use copy for transfer same data to different column
df["SALARY"] = df["Salary Estimate"].copy()

In [1700]:
#use replace to remove garbage character
df["SALARY"] = (df["SALARY"]
                .str.replace(r"\(Glassdoor est.\)","",regex = True)
                .str.replace(r"[$]","",regex = True)
                .str.replace(r"[K]","", regex = True)
                .str.replace(r"/yr","", regex = True)
                .str.strip())

In [1702]:
df["Salary Estimate"] = df["SALARY"]

In [1704]:
df= df.drop("SALARY",axis = 1)
df[["Salary Estimate"]]

    Salary Estimate
1           137-171
2           137-171
3           137-171
4           137-171
5           137-171
..              ...
668         105-167
669         105-167
670         105-167
671         105-167
672         105-167

[672 rows x 1 columns]

### Split Salary to Min & Max Salary

In [1707]:
#use split for break salary on the bases of "-"
df[["Min Salary (in Thousands)","Max Salary (in Thousands)"]] = df["Salary Estimate"].str.split("-",expand = True)
df.drop("Salary Estimate", axis=1, errors='ignore', inplace=True)
df[["Min Salary (in Thousands)","Max Salary (in Thousands)"]]

    Min Salary (in Thousands) Max Salary (in Thousands)
1                         137                       171
2                         137                       171
3                         137                       171
4                         137                       171
5                         137                       171
..                        ...                       ...
668                       105                       167
669                       105                       167
670                       105                       167
671                       105                       167
672                       105                       167

[672 rows x 2 columns]

### Convert to Numeric Data Type

In [1710]:
#use to_numeric for convert text data type to numerical
df["Min Salary (in Thousands)"] = pd.to_numeric(df["Min Salary (in Thousands)"], errors="coerce")
df["Max Salary (in Thousands)"] = pd.to_numeric(df["Max Salary (in Thousands)"], errors="coerce")
df[["Min Salary (in Thousands)","Max Salary (in Thousands)"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 1 to 672
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Min Salary (in Thousands)  672 non-null    int64
 1   Max Salary (in Thousands)  652 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 10.6 KB

### Calculate Avg. Salary

In [1713]:
#use mean for calculate the average salary, here are min and max salary 
df["Avg Salary"] = df[["Min Salary (in Thousands)","Max Salary (in Thousands)"]].mean(axis = 1)
df[["Avg Salary"]]

     Avg Salary
1         154.0
2         154.0
3         154.0
4         154.0
5         154.0
..          ...
668       136.0
669       136.0
670       136.0
671       136.0
672       136.0

[672 rows x 1 columns]

### Delete Duplicate Data

In [1716]:
#use shape for check dimension
df.shape

(672, 15)

In [1718]:
#use drop duplicate for remove data which is appear more than one time
df = df.drop_duplicates()
df.index = range(1, len(df) + 1)
df.shape

(659, 15)

### Standardize Job Titles: Title Case

In [1721]:
#use title for provide standard format
df["Job Title"] = df["Job Title"].str.title()
df[["Job Title"]]

             Job Title
1    Sr Data Scientist
2       Data Scientist
3       Data Scientist
4       Data Scientist
5       Data Scientist
..                 ...
655     Data Scientist
656     Data Scientist
657     Data Scientist
658     Data Scientist
659     Data Scientist

[659 rows x 1 columns]

### Handling Placeholder Values in 'Competitors' Column

In [1724]:
#use loop for automate work
processed_competitors = []

for comp in df["Competitors"]:
    if comp == "-1":
        processed_competitors.append("No Competitor")
    else:
        processed_competitors.append(comp)

df["Competitors"] = processed_competitors
df[["Competitors"]]

                                           Competitors
1              EmblemHealth, UnitedHealth Group, Aetna
2                                        No Competitor
3                                        No Competitor
4    MKS Instruments, Pfeiffer Vacuum, Agilent Tech...
5                 Commerce Signals, Cardlytics, Yodlee
..                                                 ...
655                                      No Competitor
656                                      No Competitor
657                                      No Competitor
658                                      No Competitor
659                                      No Competitor

[659 rows x 1 columns]

### Which job titles offer the highest average salary?

In [1727]:
#use group by for make category of same things
#use sort values for sorting the data like ascending or descending
avg_salary_by_job = df.groupby('Job Title')["Avg Salary"].mean().reset_index()
top_jobs = avg_salary_by_job.sort_values(by="Avg Salary", ascending=False)

print(top_jobs.head(10))

                                             Job Title  Avg Salary
146         Senior Principal Data Scientist (Python/R)      271.50
107    Manager, Field Application Scientist, Southeast      271.50
22   Computer Scientist - Engineer - Research Compu...      271.50
131             Scientist / Group Lead, Cancer Biology      197.50
66         Data Scientist(S)/Machine Learning Engineer      197.50
129                       Scientist - Machine Learning      192.75
122                 Real World Science, Data Scientist      188.25
64                     Data Scientist Machine Learning      183.00
33                                      Data Architect      164.50
152  Software Engineer - Machine Learning & Data Sc...      164.50

### Handle False Value by Replace "-1" to "NaN"

In [1730]:
#replace both type of false like "-1" & 1 
df.replace("-1","NaN",inplace = True)
df["Founded"]=df["Founded"].replace(-1,np.nan)

### Overview After Cleaning of Data

In [1733]:
df.shape

(659, 15)

In [1734]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659 entries, 1 to 659
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Job Title                  659 non-null    object
 1   Rating                     659 non-null    float64
 2   Company Name               659 non-null    object
 3   Location                   659 non-null    object
 4   Headquarters               659 non-null    object
 5   Size                       659 non-null    object
 6   Founded                    552 non-null    float64
 7   Type of ownership          659 non-null    object
 8   Industry                   659 non-null    object
 9   Sector                     659 non-null    object
 10  Revenue                    659 non-null    object
 11  Competitors                659 non-null    object
 12  Min Salary (in Thousands)  659 non-null    int64
 13  Max Salary (in Thousands)  639 non-null    float64
 14  Avg Salary                 659 non-null    float64
dtypes: float64(4), int64(1), object(10)
memory usage: 77.4+ KB

In [1737]:
df.isnull().sum()

Job Title                      0
Rating                         0
Company Name                   0
Location                       0
Headquarters                   0
Size                           0
Founded                      107
Type of ownership              0
Industry                       0
Sector                         0
Revenue                        0
Competitors                    0
Min Salary (in Thousands)      0
Max Salary (in Thousands)     20
Avg Salary                     0
dtype: int64

In [1739]:
df.describe

<bound method NDFrame.describe of              Job Title  Rating          Company Name           Location  \
1    Sr Data Scientist     3.1           Healthfirst       New York, NY
2       Data Scientist     4.2               ManTech      Chantilly, VA
3       Data Scientist     3.8        Analysis Group         Boston, MA
4       Data Scientist     3.5               INFICON         Newton, MA
5       Data Scientist     2.9    Affinity Solutions       New York, NY
..                 ...     ...                   ...                ...
655     Data Scientist     3.6              TRANZACT       Fort Lee, NJ
656     Data Scientist    -1.0                  JKGT  San Francisco, CA
657     Data Scientist    -1.0            AccessHope      Irwindale, CA
658     Data Scientist     5.0  ChaTeck Incorporated  San Francisco, CA
659     Data Scientist     2.7         1-800-Flowers       New York, NY

               Headquarters                     Size  Founded  \
1              New York, NY   1001 to 5000 employees   1993.0
2               Herndon, VA  5001 to 10000 employees   1968.0
3                Boston, MA   1001 to 5000 employees   1981.0
4    Bad Ragaz, Switzerland    501 to 1000 employees   2000.0
5              New York, NY      51 to 200 employees   1998.0
..                      ...                      ...      ...
655            Fort Lee, NJ   1001 to 5000 employees   1989.0
656                     NaN                      NaN      NaN
657                     NaN                      NaN      NaN
658         Santa Clara, CA        1 to 50 employees      NaN
659         Carle Place, NY   1001 to 5000 employees   1976.0

           Type of ownership                               Industry  \
1     Nonprofit Organization                     Insurance Carriers
2           Company - Public                 Research & Development
3    Private Practice / Firm                             Consulting
4           Company - Public  Electrical & Electronic Manufacturing
5          Company - Private                Advertising & Marketing
..                       ...                                    ...
655        Company - Private                Advertising & Marketing
656                      NaN                                    NaN
657                      NaN                                    NaN
658        Company - Private                Advertising & Marketing
659         Company - Public                              Wholesale

                Sector                     Revenue  \
1            Insurance    Unknown / Non-Applicable
2    Business Services      $1 to $2 billion (USD)
3    Business Services  $100 to $500 million (USD)
4        Manufacturing  $100 to $500 million (USD)
5    Business Services    Unknown / Non-Applicable
..                 ...                         ...
655  Business Services    Unknown / Non-Applicable
656                NaN                         NaN
657                NaN                         NaN
658  Business Services      $1 to $5 million (USD)
659  Business Services      $1 to $2 billion (USD)

                                           Competitors  \
1              EmblemHealth, UnitedHealth Group, Aetna
2                                        No Competitor
3                                        No Competitor
4    MKS Instruments, Pfeiffer Vacuum, Agilent Tech...
5                 Commerce Signals, Cardlytics, Yodlee
..                                                 ...
655                                      No Competitor
656                                      No Competitor
657                                      No Competitor
658                                      No Competitor
659                                      No Competitor

     Min Salary (in Thousands)  Max Salary (in Thousands)  Avg Salary
1                          137                      171.0       154.0
2                          137                      171.0       154.0
3                          137                      171.0       154.0
4                          137                      171.0       154.0
5                          137                      171.0       154.0
..                         ...                        ...         ...
655                        105                      167.0       136.0
656                        105                      167.0       136.0
657                        105                      167.0       136.0
658                        105                      167.0       136.0
659                        105                      167.0       136.0

[659 rows x 15 columns]>

In [1741]:
df.duplicated().sum()

C:\Users\maths\anaconda3\Lib\site-packages\IPython\core\displayhook.py:281: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

0

In [1743]:
df.value_counts()

Job Title                                            Rating  Company Name                            Location        Headquarters      Size                    Founded  Type of ownership  Industry                       Sector                  Revenue                     Competitors                          Min Salary (in Thousands)  Max Salary (in Thousands)  Avg Salary
(Sr.) Data Scientist -                               3.6     Merrick Bank                            Utah            South Jordan, UT  201 to 500 employees    1997.0   Company - Private  Banks & Credit Unions          Finance                 Unknown / Non-Applicable    No Competitor                        79                         131.0                      105.0         1
Data Scientist / Applied Mathematician               4.5     Fullpower Technologies, Inc.            Santa Cruz, CA  Santa Cruz, CA    51 to 200 employees     2003.0   Company - Private  Computer Hardware & Software   Information Technology  $10 to $25 million (USD)    No Competitor                        79                         131.0                      105.0         1
Data Scientist- Industrial Discrete Sector Industry  3.7     IBM                                     Atlanta, GA     Armonk, NY        10000+ employees        1911.0   Company - Public   IT Services                    Information Technology  $10+ billion (USD)          Amazon, Accenture, Microsoft         69                         116.0                      92.5          1
Data Scientist, Kinship - Nyc/Portland               3.9     Mars                                    New York, NY    Mc Lean, VA       10000+ employees        1911.0   Company - Private  Food & Beverage Manufacturing  Manufacturing           $10+ billion (USD)          No Competitor                        99                         132.0                      115.5         1
                                                                                                                                                                                                                                                                                                                   92                         155.0                      123.5         1
                                                                                                                                                                                                                                                                                                                                                                                      ..
Data Scientist                                       3.4     Spectrum Communications and Consulting  Chicago, IL     Chicago, IL       51 to 200 employees     1992.0   Company - Private  Advertising & Marketing        Business Services       $10 to $25 million (USD)    No Competitor                        79                         106.0                      92.5          1
                                                             SleePare                                New York, NY    New York, NY      1 to 50 employees       2017.0   Company - Private  Other Retail Stores            Retail                  Unknown / Non-Applicable    No Competitor                        141                        225.0                      183.0         1
                                                             Plymouth Rock Assurance                 Woodbridge, NJ  Boston, MA        1001 to 5000 employees  1982.0   Company - Private  Insurance Carriers             Insurance               $10 to $25 million (USD)    Arbella Insurance, Safety Insurance  90                         109.0                      99.5          1
                                                             Mathematica Policy Research             Washington, DC  Princeton, NJ     1001 to 5000 employees  1986.0   Company - Private  Consulting                     Business Services       $100 to $500 million (USD)  No Competitor                        137                        171.0                      154.0         1
Weapons And Sensors Engineer/Scientist               4.0     Dynetics                                Huntsville, AL  Huntsville, AL    1001 to 5000 employees  1974.0   Company - Private  Aerospace & Defense            Aerospace & Defense     $100 to $500 million (USD)  No Competitor                        138                        158.0                      148.0         1
Name: count, Length: 538, dtype: int64